
/* NAVBAR */
.navbar {
  height: 80px;
}

/* CONTENIDO BAJO EL MENÚ */
.menu-content {
  height: calc(100vh - 80px); /* 🔥 ajusta altura para que NO haya scroll */
  padding: 3rem;
  background: linear-gradient(to bottom, #087571, #03302e);
  overflow: hidden;
}

/* MENÚ: Agranda texto y cambia cursor */
.navbar-nav .nav-link {
  font-size: 1.6rem !important;
  cursor: pointer !important;
  font-weight: bold;
  color:white;    
}

/* TÍTULO BuzzCon */
.navbar-brand span {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  margin-left: 0.5rem;
}

/* SEPARACIÓN ENTRE LOGO Y MENÚ */
.navbar-brand {
  margin-right: 3rem !important;
}


.mensaje-error {
    font-size:  3.5rem ; 
}

.mensaje-pantalla {
    font-size:  1.5rem ; 
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}